/* color and font  */
:root {
  font-family: dosis, sans-serif;
  font-family: lato, sans-serif;

  --primary-color: #c2c5aa;
  --secondary-color: #966111;
  --accent1-color: #a4ac86;
  --accent2-color: #656d4a;
  --accent3-color: #442811;
  --accent4-color: #85430d;
  --heading-font: dosis, sans-serif;
  --paragraph-font: lato, helvetica, sans-serif;
  --headline-color-on-white: #5a4939e5;       /* headlines on a white background */
  --headline-color-on-color: #000;            /* headlines on a colored background */
  --paragraph-color-on-white: #396e94;        /* paragraph text on a white background */
  --paragraph-color-on-color: #000;           /* paragraph text on a colored background */
  --paragraph-background-color: #cbd3ad;
  --nav-link-color: #a68a64;
  --nav-background-color: #dfe4be;
  --nav-hover-link-color: #333d29;
  --nav-hover-background-color: #bc7c22;
  --image-hover-color: orange;

  /* hard coded values */

  --main-div-height: 200px;
  --discover-div-height: 450px;
  --discover-img-height: 300px;
}

/* banner */
.banner {
  display: none;
  background-color: var(--nav-background-color);
  line-height: 1.5;
}

/* html & body */
html {
  min-width: 280px;
  width: 98%;
  align-self: center;
}

body {
  /* width: 98%; */
  align-self: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.75em;
  font-size: 18px;
  text-align: left;
}

p {
  margin-top: -5px;
}

main p {
  font-size: medium;
  text-align: center;
  margin: 5px;
}

main a {
  font-size: medium;
  text-align: center;
  margin: 5px;
}

/* header */
header {
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}

.top-header {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: space-between;
  padding: 0.5em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}

img.logo {
  max-width: 75px;
  min-width: 15px;
  width: 100%;
  margin-top: 5px;
  height: auto;
}

.header-link {
  max-width: 75px;
  min-width: 15px;
  width: 7%;
  margin-top: 5px;
  height: auto;

}

.header-social {
  display: flex;
  width: 20%;
  margin: 0;
  margin-top: 10px;
  flex-direction: row;
}

img.social {
  border-radius: 100%;
  width: 2em;
  margin: 0 4px;
  height: auto;
}

header div h1 {
  text-align: left;
  line-height: 0.6em;
  letter-spacing: 4px;
  font-size: 5vw;
  color: var(--headline-color-on-color);
  margin: 10px;
  margin-left: -1em;
}

span.first-line::after {
  content: "\A";
  white-space: pre;
}

.subtitle {
  width: 100%;
  text-align: center;
  font-size: 3vw;
  margin: 0 auto;
  margin-left: 0;
  letter-spacing: 0;
  color: var(--accent3-color);
}

.top-header button {
  margin: 5px;
  margin-right: 15px;
  width: 5%;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

.date {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  color: var(--headline-color-on-color);
  box-shadow: 0 0 30px #0000004d;
}

/* nav within header */
nav {
  width: 100%;
}

.main-nav {
  display: none;
  flex-flow: column;
  list-style-type: none;
  overflow: hidden;
  margin: 5px auto;
  background-color: var(--nav-background-color);
  box-shadow: 0 0 30px #000000e6;
  padding-inline-start: 0;
}

.main-nav.open {
  display: flex;
  background-color: var(--nav-background-color);
  box-shadow: 0 0 30px #000000e6;
}

header nav ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  list-style-type: none;
  margin-left: 0;
}

header nav ul li a {
  display: block;
  width: 100%;
  color: var(--nav-link-color);
  text-align: center;
  padding: 0.75em 0;
  text-decoration: none;
  font-size: 1.1em;
  background:
    linear-gradient(
      90deg,
      transparent,
      var(--nav-hover-link-color),
      transparent
    )
    bottom / var(--d, 0) 3px no-repeat;
  transition: 0.5s;
  margin-left: 0;
}

.active {
  color: var(--accent3-color);
}

nav a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
  margin-left: 0;
  width: 110%;
}

.current-menu {
  color: #000;
  background-color: var(--nav-link-color);
}

/* main  */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 280px;
}

.main-div {
  height: var(--main-div-height);
  outline: 2px solid black;
  padding: 0.75em;
  margin-top: 15px;
}

.news-release,
.join {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.join,
.spotlight-3 {
  display: none;
}

.spotlight-container {
  display: flex;
  outline: 2px solid black;
  padding: 0 15px 15px;
  margin-top: 15px;
  flex-direction: column;
}

main div h3,
main div div h3 {
  font-size: large;
  color: var(--headline-color-on-white);
  text-align: center;
  margin: 5px;
}

main div h2 {
  font-size: x-large;
  color: var(--accent3-color);
  text-align: left;
}

.text-shadow {
  text-shadow:
    -1px 1px 0 white,
    1px 1px 0 white,
    1px -1px 0 white;
}

.main-div,
.spotlight-div,
.spotlight-container {
  background-color: var(--nav-background-color);
  align-items: center;
  text-align: center;
}

div.spotlight-div {
  border: 5px solid #0000004d;
  height: var(--main-div-height);
  width: 100%;
  padding: 0;
  margin-top: 15px;
}

span.spotlight-icon {
  font-size: 60px;
  margin: 0;
}

img {
  filter: blur(0);
  transition: filter 1s;
}

.spotlight-div img {
  box-shadow: 0 0 30px #777;
  border: 2px solid #333;
}

div.main-div p {
  font-size: medium;
}

main div h4 {
  color: var(--accent4-color);
}

/* hero styling */
div.contrast-heading,
div.hero-contrast-heading {
  margin-top: 10px;
}

div.contrast-heading a,
div.hero-contrast-heading a {
  background-color: var(--paragraph-background-color);
  color: var(--headline-color-on-color);
  border-radius: 1em;
  border: 5px solid #0000004d;
  font-size: larger;
  padding-inline-start: 2em;
  padding-inline-end: 2em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hero {
  position: relative;
  padding: 0;
}

.hero-contrast-heading {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.hero-banner {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
}

.hero-image,
picture.hero-image-container {
  width: auto;
  height: 100%;
}

div.hero-image-container {
  width: auto;
  height: 100%;
}

@supports (object-fit: cover) {
  .hero-image {
    width: 100%;
    object-fit: cover;
    object-position: 0% 30%;
  }
}

/* join div */
main-div.join p {
  margin-top: 20px;
}

main-div.join a {
  margin-top: 50px;
}

/* weather */
div.side-by-side {
  display: flex;
  justify-content: space-evenly;
}

.align-right {
  text-align: right;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table.left {
  /* margin-left: 25px; */
}

.weather-forecast {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#weather-icon {
  color: white;
}

.forecast {
  margin-right: 2%;
  font-size: medium;
}

.weather {
  align-self: center;
  max-width: 230px;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
  margin-top: 1em;
  justify-content: space-between;
}

.footer-logo {
  width: 100px;
  height: auto;
  margin: 1em;
  margin-bottom: 0;
}

.map-link {
  color: var(--headline-color-on-color);
}

footer hr {
  width: 70%;
  border: 2px solid white;
}

.footer-first-line {
  width: 100%;
  text-align: center;
  letter-spacing: 7px;
  font-size: 24px;
  color: var(--headline-color-on-color);
  margin-left: 0;
  line-height: 0.5em;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.vertical-bar {
  display: none;
}

.footer-subtitle {
  text-align: center;
  font-size: 12px;
  line-height: 0.5em;
  margin-left: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  letter-spacing: 3px;
  color: var(--accent3-color);
}

.p-tight {
  margin-top: 2px;
  margin-bottom: 0;
  padding: 0;
}

.footer-address {
  margin-bottom: 20px;
}

.main-discover {
  height: auto;
}

.sxs-div {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  width: auto;
}

.flex-left {
  height: 100%;
  width: 80%;
  margin-bottom: 20px;
}

div.flex-left h2,
div.flex-left p {
  text-align: center;
}

.discover-div {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
}

.discover-img {
  border: 4px solid #000;
  width: 100%;
  height: auto;
}

img[data-src] {
  filter: blur(0.2em);
}

/* Contact */
.contact-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  width: auto;
  outline: 2px solid black;
  margin: 15px;
  background-color: var(--nav-background-color);
  align-items: center;
}

.contact-main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 10px;
}

/* ----------- FORM -------------- */

form {
  padding: 10px;
}

form fieldset {
  margin: 2rem 1px;
  border: 1px solid var(--accent3-color);
  border-radius: 10px;
  padding: 0.5rem;
  padding-right: 1.5rem;
}

form legend {
  color: var(--accent3-color);
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: var(--accent4-color);
  font-size: 0.8rem;
}

form label.top input,
form label.top select,
form label.top textarea {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  margin-left: 5px;
  color: #555;
  background-color: #fff7effb;
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: #555;
}

form input.submit-btn {
  border: none;
  background-color: #9c2c13;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form input.submit-btn:hover {
  background-color: #49170b;
  cursor: pointer;
}

form label.top input,
form label.top textarea {
  border-left: #fff7effb solid 6px;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

main.center {
  margin: 0 auto;
  flex-flow: row;
  justify-content: space-between;
}

h2.center {
  text-align: center;
}

#bronze-level {
  background-color: burlywood;
}

#silver-level {
  background-color: silver;
}

#gold-level {
  background-color: gold;
}

.color-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  height: 250px;
  width: 250px;
  border: 1px solid black;
  border-radius: 1em;
  text-align: center;
  font-weight: bolder;
  transition: 1s;
  transition-timing-function: ease;
}

.hide-base {
  display: none;
}

@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

div.color-box div,
div.color-box:hover div {
  animation: appear 2s ease;
}

div.color-box div:nth-child(1) {
  display: block;
}

div.color-box div:nth-child(2) {
  display: none;
}

div.top-header button span:nth-child(1) {
  display: block;
}

div.top-header button span:nth-child(2) {
  display: none;
}

div.color-box:hover div:nth-child(2) {
  display: block;
}

div.color-box:hover div:nth-child(1) {
  display: none;
}

div.top-header button.open span:nth-child(2) {
  display: block;
}

div.top-header button.open span:nth-child(1) {
  display: none;
}

div.color-box li {
  font-size: smaller;
  font-weight: 400;
  text-align: left;
  padding: 2px;
}

div.color-box ul {
  padding-inline-start: 20px;
}

.background-fill {
  background-color: var(--nav-background-color);
}

.stacked {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 10px;
}

.sxs {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
}

.member-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.member-list {
  display: flex;
  flex-direction: column;
}

section.member-detail-grid {
  background-color: var(--primary-color);
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.25rem;
  padding: 0.35rem;
}

section.member-detail-grid:hover {
  background-color: var(--nav-link-color);
}

section.member-detail-grid > p {
  min-height: 10px;
}

section.member-detail-grid img {
  box-shadow: 0 0 30px #777;
  height: 100px;
  width: auto;
  max-width: 325px;
  border: 2px solid #333;
  margin-bottom: 0;
}

section.member-detail-grid p {
  font-family: dosis, sans-serif;
  margin: 10px;
  font-weight: 400;
  font-size: medium;
}

section.member-detail-grid a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  font-weight: 400;
  font-size: medium;
  color: var(--nav-hover-link-color);
}

.directory-button {
  margin: 5px;
  margin-right: 15px;
  width: auto;
  background-color: transparent;
  border: 2px solid black;
  font-size: 20px;
  max-width: 200px;
  color: #555;
}

.directory-button:hover {
  background-color: var(--accent1-color);
}

div.directory-button-bar {
  height: 60px;
  margin-bottom: 15px;
}

.member-list section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

div.member-list p,
div.member-list h2,
div.member-list a {
  margin-left: 20px;
}

div.member-list h2 {
  font-size: smaller;
  width: 200px;
}

.member-list p.member-address,
.member-list a.member-email {
  text-align: left;
  display: none;
}

div.member-list img {
  align-self: center;
  display: none;
}

div.credit {
  font-size: medium;
  text-align: center;
  margin: 5px;
  width: 100%;
}
