header, footer {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: cadetblue;
}

header img {
    max-width: 400px;
    margin: 1em;
}

footer img {
    margin-right: 10px;
}

header img {
    max-width: 85%;
}

.home {
    background-color: cadetblue;   
}

main {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
 }
 body {
    justify-content: center;
    padding: 1em;
    font-size: 18px;
  }

.center {
    align-items: center;
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}


h1, h2 {
    text-align: center;    
}

header, main {
    grid-template-columns: 100%;

}



