header {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: cadetblue;
    grid-template-columns: 60% 40%;
}

footer {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: cadetblue;
    grid-template-columns: 100%;
}

h1 {
    display: inline;
    grid-column: 2;
    margin-right: 30px;
    text-align: left
    ;

}
header img {
    max-width: 400px;
    margin: 1em;
}

footer img {
    margin-right: 10px;
}

header img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 70%;
}

.home {
    background-color: cadetblue;   
}

main {
    display: grid;
    align-items: center;
    align-content: center;
    place-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    
 }
 body {
    justify-content: center;
    padding: 1em;
    font-size: 18px;
  }

.center {
    display: grid;  
    place-items: center;
    align-items: center;
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}



h2 {
    text-align: center;    
}





