.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cadetblue;
}


.home, .profile{
    background-color: cadetblue;   
}

.banner {
    background-color: cadetblue;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align:justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
body {
    margin: 0 auto;
    padding: 1em;
    font-size: 18px;
    text-align: center;
  }

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cadetblue;
}