header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: cadetblue;
}


header img {
    max-width: 30%;
    margin: 1em;
}

footer img {
    max-width: 25%;
    margin: .5em;
}


.home, .profile{
    background-color: cadetblue;   
}

.banner {
    background-color: cadetblue;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align:justify;
    font-family: 'Lato', sans-serif;
 }
body {
    margin: 0 auto;
    padding: 1em;
    font-size: 18px;
    text-align: center;
  }

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    background-color: cadetblue;
}

h1, h2, h3 {
    text-align: center;    
}